@charset "UTF-8";
/* 프리텐다드 */
@font-face {
	font-family: "Pretendard";
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/PretendardVariable.woff2') format('woff2-variations');
}

/* OneMobilePop */
@font-face {
  font-family: "OneMobilePop-Regular";
  src: url("../fonts/ONE-Mobile-POP-OTF.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Lexend */
@font-face {
  font-family: "Lexend-SemiBold";
  src: url("../fonts/Lexend-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lexend-Bold";
  src: url("../fonts/Lexend-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lexend-ExtraBold";
  src: url("../fonts/Lexend-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/* 어그로체 */
@font-face {
  font-family: "SBAggroL";
  src: url("../fonts/SBAggroL.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SBAggroM";
  src: url("../fonts/SBAggroM.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SBAggroB";
  src: url("../fonts/SBAggroB.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}